@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  width: 140px;
  height: 140px;
  background-image:
    linear-gradient(to bottom right, white 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}